<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <!--Production-->

  <connectionStrings>
    <add name="HDConnection"
    connectionString="Server=a53f1401-c3dd-468e-b17b-a78c00d93412.sqlserver.sequelizer.com;
     Initial Catalog=dba53f1401c3dd468eb17ba78c00d93412;
     Persist Security Info=True;
     User ID=awjeouugvpmlscsl;
     Password=zq5rnRotpdsGvoQevt7ZEo2oTTAEw3qhuyvEixDsMc3EEp3K4yfyh36mwPEAqQ6v;
     MultipleActiveResultSets=true"
    providerName="System.Data.SqlClient" />
  </connectionStrings>



  <!--<connectionStrings>
    <add name="HDDevConnection"
         connectionString="Data Source=.;
         Initial Catalog=HDDev;
         Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->





</configuration>