@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        width: 100%;
        padding-bottom: 20em;
        margin-top: 10px;
    }
    /*.jumbotron h1, p{
        color: azure;
    }*/
    #header {
        color: azure;
    }
    .lead {
        color: azure;
    }
</style>
<div class="jumbotron">
    @*<img src="../../images/delivery.jpg" alt="delivery photo" />*@
    <h1 id="header">Home Delivery</h1>
    <p class="lead">Order the best food in the country.</p>
</div>